:root {

    /* spacing
     * base font size: 18px 
     * vertical space unit : 32px
     */
    --base-size: 62.5%;
    --base-font-size: 1.8rem;
    --space: 3.2rem;

    /* vertical spacing 
     */
    --vspace-0_125: calc(0.125 * var(--space));
    --vspace-0_25 : calc(0.25 * var(--space));
    --vspace-0_5  : calc(0.5 * var(--space));
    --vspace-0_75 : calc(0.75 * var(--space));
    --vspace-0_875: calc(0.875 * var(--space));
    --vspace-1    : calc(var(--space));
    --vspace-1_25 : calc(1.25 * var(--space));
    --vspace-1_5  : calc(1.5 * var(--space));
    --vspace-1_75 : calc(1.75 * var(--space));
    --vspace-2    : calc(2 * var(--space));
    --vspace-2_5  : calc(2.5 * var(--space));
    --vspace-3    : calc(3 * var(--space));
    --vspace-3_5  : calc(3.5 * var(--space));
    --vspace-4    : calc(4 * var(--space));
    --vspace-4_5  : calc(4.5 * var(--space));
    --vspace-5    : calc(5 * var(--space));

    /* type scale
     * ratio 1:2 | base: 18px
     * -------------------------------------------------------
     *
     * --text-display-3 = (77.40px)
     * --text-display-2 = (64.50px)
     * --text-display-1 = (53.75px)
     * --text-xxxl      = (44.79px)
     * --text-xxl       = (37.32px)
     * --text-xl        = (31.10px)
     * --text-lg        = (25.92px)
     * --text-md        = (21.60px)
     * --text-size      = (18.00px) BASE
     * --text-sm        = (15.00px)
     * --text-xs        = (12.50px)
     *
     * -------------------------------------------------------
     */
    --text-scale-ratio: 1.2;
    --text-size       : var(--base-font-size);
    --text-xs         : calc((var(--text-size) / var(--text-scale-ratio)) / var(--text-scale-ratio));
    --text-sm         : calc(var(--text-xs) * var(--text-scale-ratio));
    --text-md         : calc(var(--text-sm) * var(--text-scale-ratio) * var(--text-scale-ratio));
    --text-lg         : calc(var(--text-md) * var(--text-scale-ratio));
    --text-xl         : calc(var(--text-lg) * var(--text-scale-ratio));
    --text-xxl        : calc(var(--text-xl) * var(--text-scale-ratio));
    --text-xxxl       : calc(var(--text-xxl) * var(--text-scale-ratio));
    --text-display-1  : calc(var(--text-xxxl) * var(--text-scale-ratio));
    --text-display-2  : calc(var(--text-display-1) * var(--text-scale-ratio));
    --text-display-3  : calc(var(--text-display-2) * var(--text-scale-ratio));

    /* default button height
     */
    --vspace-btn: var(--vspace-2);
}
:root {
    /* color-1(#11ABB0)
     * color-2(#F06000)
     */
    --color-1: hsla(182, 82%, 38%, 1);
    --color-2: hsla(24, 100%, 47%, 1);

    /* theme color variations
     */
    --color-1-lighter: hsla(182, 82%, 58%, 1);
    --color-1-light  : hsla(182, 82%, 48%, 1);
    --color-1-dark   : hsla(182, 82%, 28%, 1);
    --color-1-darker : hsla(182, 82%, 18%, 1);
    --color-2-lighter: hsla(24, 100%, 67%, 1);
    --color-2-light  : hsla(24, 100%, 57%, 1);
    --color-2-dark   : hsla(24, 100%, 37%, 1);
    --color-2-darker : hsla(24, 100%, 27%, 1);

    /* feedback colors
     * color-error(#ffd1d2), color-success(#c8e675), 
     * color-info(#d7ecfb), color-notice(#fff099)
     */
    --color-error          : hsla(359, 100%, 91%, 1);
    --color-success        : hsla(76, 69%, 68%, 1);
    --color-info           : hsla(205, 82%, 91%, 1);
    --color-notice         : hsla(51, 100%, 80%, 1);
    --color-error-content  : hsla(359, 50%, 50%, 1);
    --color-success-content: hsla(76, 29%, 28%, 1);
    --color-info-content   : hsla(205, 32%, 31%, 1);
    --color-notice-content : hsla(51, 30%, 30%, 1);

    /* shades 
     * generated using 
     * Tint & Shade Generator 
     * (https://maketintsandshades.com/)
     */
    --color-black  : #000000;
    --color-gray-19: #0a0a0a;
    --color-gray-18: #141414;
    --color-gray-17: #1e1e1e;
    --color-gray-16: #282828;
    --color-gray-15: #323333;
    --color-gray-14: #3b3d3d;
    --color-gray-13: #454747;
    --color-gray-12: #4f5151;
    --color-gray-11: #595b5b;
    --color-gray-10: #636565;
    --color-gray-9 : #737474;
    --color-gray-8 : #828484;
    --color-gray-7 : #929393;
    --color-gray-6 : #a1a3a3;
    --color-gray-5 : #b1b2b2;
    --color-gray-4 : #c1c1c1;
    --color-gray-3 : #d0d1d1;
    --color-gray-2 : #e0e0e0;
    --color-gray-1 : #eff0f0;
    --color-white  : #ffffff;

    /* text
     */
    --color-text       : var(--color-gray-16);
    --color-text-dark  : var(--color-black);
    --color-text-light : var(--color-gray-7);
    --color-placeholder: var(--color-gray-7);

    /* buttons
     */
    --color-btn                   : var(--color-gray-3);
    --color-btn-text              : var(--color-black);
    --color-btn-hover             : var(--color-black);
    --color-btn-hover-text        : var(--color-white);
    --color-btn-primary           : var(--color-1);
    --color-btn-primary-text      : var(--color-white);
    --color-btn-primary-hover     : var(--color-2);
    --color-btn-primary-hover-text: var(--color-white);
    --color-btn-stroke            : var(--color-black);
    --color-btn-stroke-text       : var(--color-black);
    --color-btn-stroke-hover      : var(--color-black);
    --color-btn-stroke-hover-text : var(--color-white);

    /* others
     */
    --color-bg     : var(--color-gray-18);
    --color-border : var(--color-gray-2);
    --border-radius: 5px;
}
/* on mobile devices below 600px
 */
@media screen and (max-width: 600px) {
    :root {
        --base-font-size: 1.6rem;
        --space: 2.8rem;
    }
}

/* ------------------------------------------------------------------- 
 * ## grid variables
 * ------------------------------------------------------------------- */
:root {

    /* widths for rows and containers
     */
    --width-full    : 100%;
    --width-max     : 1080px;
    --width-wide    : 1400px;
    --width-wider   : 1600px;
    --width-widest  : 1800px;
    --width-narrow  : 800px;
    --width-narrower: 600px;
    --width-grid-max: var(--width-max);

    /* gutters
     */
    --gutter-lg : 2.4rem;
    --gutter-md : 2rem;
    --gutter-mob: 1rem;
}

#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-flow: row wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-flow: row wrap;
    -ms-flex-pack: center;
    -webkit-box-pack: center;
    justify-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    background: #050505;
    z-index: 500;
    height: 100vh;
    width: 100%;
    opacity: 1;
}

.no-js #preloader, .oldie #preloader {
    display: none;
}

#loader {
    width: var(--vspace-1_5);
    height: var(--vspace-1_5);
    padding: 0;
    opacity: 1;
}

#loader:before {
    content: "";
    border-top: 4px solid rgba(255, 255, 255, 0.1);
    border-right: 4px solid rgba(255, 255, 255, 0.1);
    border-bottom: 4px solid rgba(255, 255, 255, 0.1);
    border-left: 4px solid white;
    -webkit-animation: load 1.1s infinite linear;
    animation: load 1.1s infinite linear;
    display: block;
    border-radius: 50%;
    width: var(--vspace-1_5);
    height: var(--vspace-1_5);
}

@-webkit-keyframes load {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes load {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

/* ------------------------------------------------------------------- 
 * ## page loaded
 * ------------------------------------------------------------------- */
.ss-loaded #preloader {
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all .6s .9s ease-in-out;
    transition: all .6s .9s ease-in-out;
}

.ss-loaded #preloader #loader {
    opacity: 0;
    -webkit-transition: opacity .6s ease-in-out;
    transition: opacity .6s ease-in-out;
}

/* ------------------------------------------------------------------- 
 * ## go top
 * ------------------------------------------------------------------- */
 .ss-go-top {
    z-index: 2;
    opacity: 0;
    visibility: hidden;
    -webkit-transform: translate(0, 200%);
    transform: translate(0, 200%);
    -webkit-transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
    transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
    position: fixed;
    bottom: 6rem;
    right: 2.4rem;
}

.ss-go-top a {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-align: center;
    -webkit-box-align: center;
    align-items: center;
    -ms-flex-pack: center;
    -webkit-box-pack: center;
    justify-content: center;
    text-decoration: none;
    border: 0 none;
    height: 6.4rem;
    width: 6.4rem;
    border-radius: 50%;
    background-color: #050505;
    -webkit-transition: all .3s;
    transition: all .3s;
    position: relative;
}

.ss-go-top a:hover, 
.ss-go-top a:focus {
    background-color: var(--color-1);
}

.ss-go-top svg {
    height: 2.4rem;
    width: 2.4rem;
}

.ss-go-top svg path {
    fill: white;
}

.ss-go-top.link-is-visible {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
}
